
@import 'variables';

@import 'editor/small_layouts';
@import 'editor/typo';

@import 'components/footnote';
@import 'components/mod_table';
@import 'components/mod_image';
@import 'components/mod_media_chooser';
@import 'components/page_title';
@import 'components/placeholder';

@import 'modules/editor';
@import 'modules/inplace';

#PXEdit-message {
  position: fixed;
  right: -300px;
  width: 300px;
  background: #fff;
  z-index: 300;
  top: $editor_top;
  opacity: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: right 600ms cubic-bezier(.86, 0, .07, 1);
  z-index: 300;

  &:hover {
    opacity: 1;
  }

  &.open {
    right: 0;

    +#PXEdit-message-bkdrp {
      display: block;
    }
  }

  .layout-template {
    &.active,
    &:hover {
      .widget {
        background: #add8e6;
      }
    }
  }
}

#PXEdit-message-bkdrp {
  z-index: 299;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .2);
}



.editableform .control-group {
  margin-bottom: 0;
  white-space: nowrap;
  line-height: 1;
  position: relative;
  width: 100%;
  display: block !important;
}

.editable-buttons {
  display: none;
}

.editable-container.editable-inline,
.editable-input {
  display: block;
  width:100%;
}

.editable-unsaved {
  font-weight: inherit;
}

.editable-click,
a.editable-click,
a.editable-click:hover {
  border: none;
}

#PXEdit {
  position: fixed;
  top: $editor_top;
  left: 0;
  right: 0px;
  display: none;
  z-index: 100;

  #document-save-settings {
    display: none;
  }

  &.pdf-editor-changed {
    #document-save-settings {
      display: inline-block;
    }
  }

  &.loading, &.open  {
    +#PXEdit-backdrop {
      display: block;
    }
  }

  &.open {
    +#PXEdit-backdrop {
      background: rgba(0, 0, 0, .5);
    }
  }

  &.loading {
    + #PXEdit-backdrop {
      background-image: url('/sites/all/modules/lokalkoenig/vku/css/ajax-loader.gif');
      background-position: center center;
      background-repeat: no-repeat;
    }

    #pdf-visibile-editor {
      &:before {
        content: '';
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/sites/all/modules/lokalkoenig/vku/css/ajax-loader.gif');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, .5);
      }
    }

    .settings-panel {
      pointer-events: none;
      opacity: .8;
    }
  }
}

#PXEdit-backdrop {
  position: fixed;
  top: 0;
  display: none;
  background: rgba(255, 255, 255, .5);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: background .5s ease;
}

.pxedit .pdf {
  position:relative !important;
  z-index: 100 !important;
  width: $doc_pdf_width !important;
  height: $doc_pdf_height !important;
  max-width: none !important;
  margin-top: 0px !important;
  background: White !important;
  padding: 0 !important;

  .editor-widget {
    position: relative;
  }

  .settings-panel {
    position: absolute;
    top: 4px;
    bottom: 0;
    width: 35px;
    z-index: 100;
    margin-left: -38px;

    button {
      margin-bottom: 2px;
      max-width: 32px;
      overflow: hidden;
      min-width: 32px;
      transition: .2s min-width ease-in-out;

      &#PXEdit-document-remove {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .label-in {
        display:none;
        margin-left: 5px;
      }

      &:hover {
        min-width: 130px;

        .label-in {
          display: inline;
        }
      }
    }
  }

  header {
    height: $doc-header-height;
    margin-bottom: $doc-30;
    border-bottom: 1px Silver solid;
    overflow: hidden;

    .logo {
      margin-left: $doc_80;
      margin-top: 18px;
      height: 65px;

      img {
        height: 100%;
        width: auto;
      }
    }

    .label-editor {
      position: absolute;
      top: 42px;
      border-radius: 0;
      transform: rotate(270deg);
      margin-left: -43px;
      width: $doc-header-height;
      text-align: center;
    }
  }

  .float-2 {
    width: 50%;
    float: left;
  }

  .float-3 {
    float: left;
    width: 33.33333333%;
  }

  .float-xs-8 {
    float: left;
    width: 80%;
  }

  .float-xs-4 {
    float: left;
    width: 20%;
  }

  .footer-logos {
    margin-left: $doc-80;
    padding-top: 15px;

    img {
      height: 27.5px;
      margin-right: 5px;
      width: auto;
    }
  }



  footer {
    position: absolute;
    bottom: 0;
    border-top: 1px Silver solid;
    left: 0;
    right: 0;
    height: $doc-footer-height;
    background: #fff;
  }
}

#pdf-visibile-editor {
  height: $doc-content-height;
  background: White;
  margin: 0 ($doc-80);
  position: relative;
  overflow: hidden;
  margin-right: $doc-80 - $doc-content-spacing;

  .row-editor {
    overflow: hidden;
    height: $doc-content-height - $doc-content-spacing;
  }

  // Layout full needs an extra spacing
  .row-editor[data-layout="layout-full"] {
    margin-right: $doc-content-spacing;
  }

  .editor-widget {
    position: relative;
  }

  .editor-widget-editor {
    .editable-empty {
      min-height: 20px;
    }

   .editable-container.editable-inline {
      position: absolute;
    }
  }

  div[data-height="50"]{
    height: ($doc-content-height-relative / 2) - $doc-content-spacing;
  }

  div.widget-flexibile {
    height: auto;

    .trumbowyg-editor {
      min-height: auto !important;
      overflow: hidden;
    }

    &.editor-empty {
      &:before {
        content: 'Texteditor';
        color: #ccc;
        position: absolute;
      }
    }

    .editor-widget {
      position: relative;
      //height: auto !important;
      margin-bottom: $doc_content_spacing / 2;

      .editable-container.editable-inline {
        position: relative;
      }

      .trumbowyg-editor,
      .trumbowyg-textarea,
      .trumbowyg-box {
        min-height: 0;
      }
    }
  }


  div[data-height="100"]{
    height: ($doc-content-height-relative) - $doc-content-spacing;

    div[data-height="50"]{
      height: ($doc-content-height-relative / 2) - ($doc-content-spacing);

      .trumbowyg-editor, .editable-container {
        min-height: ($doc-content-height-relative / 2) - $doc-content-spacing;
      }
    }

    .trumbowyg-editor {
      min-height: ($doc-content-height-relative) - $doc-content-spacing;
      overflow: hidden;
    }
  }

  .float-2, .float-3 {
    .widget, .widget-placeholder {
      margin-bottom: $doc-content-spacing;
    }
  }

  .float-2, .float-3 {
     & > div {
      margin-right: $doc-content-spacing;
      position: relative;
     }
  }
}


#pdfdoc-alter-layout {
  .layout-template {
    &:hover,
    &.active {
      .widget {
        background: lightblue;
      }
   }
  }
}

#pdf-current-layout {
  .layout-template {
    .widget {
      position: relative;

      .label {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: White;
        border: 1px Silver solid;
        text-align: center;
        transition: background .2s ease;
        line-height: 35px;
        color: Black;
        border-radius: 0;
        padding: 0;
        font-size: 9px;
        font-weight: normal;
      }
      
      &:hover,
      &.selected {
        .label {
          background: #428bca;
          color: #fff;
        }
      }
    }
  }
}

.widget-flexibile {
  .trumbowyg-box {
    min-height: 0 !important;
  }
}