

#current-layout {
  .col-select {
    .btn {
      margin-top: 1px;
      padding: 4px 12px;
    }
  }
}

p.pxedit-small {
  line-height: 1.4;
  font-size: 0.85em;
  margin: 0 0 5px;
}

// Layouts
.small-format-presentation .layout-template {
  width: 120px;
  height: 100px;
  float: left;
  margin-right: 10px;
  border: 1px Silver solid;
  cursor: pointer;
  margin-bottom: 10px;

  h1 {
    display: none;
  }

  .widget {
    margin: 5px;
    margin-right: 0;
    background: #eee;
    height: 90px;
    float: left;
    transition: .2s background ease;
    width: 110px;

    &.selected {
      background: #428bca;
    }

    &.changed {
      &:after {
        //content: '*';
      }
    }
  }

  &.layout-50-50 {
    .widget {
      width: 52px;
    }
  }

  .float-2 {
    width: 52px;
    float: left;

    .float-100[data-height="50"] {
      height: 42px;
      width: 52px;
      margin-bottom: 0;
    }
  }

  &.layout-50-50-double,
  &.layout-50-50-left {
    .float-2:not(.widget) {
      margin-right: 5px;
    }
  }

  &.layout-preistable_one {
    .widget {
      height: 42px;
      margin-bottom: 0;
    }
  }

  &.layout-preistable_two,
  &.layout-preistable_three {
    .widget-flexibile {
      height: 42px;
      margin-bottom: 0;
    }

    .float-3 {
      margin-right: 5px;
      width: 33.5px;
      float: left;

      .widget {
        width: 32.5px;
        float: none;
        height: 42px;
        margin-bottom: 0;
      }
    }

    .float-2 {
      margin-right: 5px;

      .widget {
        width: 52px;
      }
    }
  }

  &.layout-tripple {
    position: relative;

    .float-3 {
      width: 37.5px;
      float: left;
    }

    .widget {
      width: 32.5px;
      float: none;
      height: 42px;
      margin-bottom: 0;
    }
  }
}

.pxedit-layout-changer {
  .layouts-scaled {
    .small-format-presentation {
      display: flex;

      .layout-template {
        width: 55px;
        height: 50px;
        flex: 1;
        margin: 0 5px;

        .float-100[data-height="100"] {
          width: 50px;
        }

        .float-2 .float-100[data-height="50"] {
          height: 20.5px;
          width: 23px;
        }

        &.layout-50-50-left {
          .float-2.widget[data-height="100"] {
            float: right;
          }
        }

        //table
        .float-3 {
          width: 22px;
          float: left;
          margin-right: 3px;
          overflow: hidden;
        }


        .float-2 {
           height: 39px;
           width: 20px;
        }

        &.layout-preistable_two {
          .float-2 {
            width: 32px;

            .widget {
              height: 44px;
              width: 33px;
            }
          }
        }

        &.layout-preistable_one {
          // table
          .widget.float-100 {
            width: 95%;
          }
        }

        .widget {
          height: 45px;
          width: 22.5px;
          margin: 2px;

          &.widget-flexibile {
            display: none;
          }
        }

      }
    }
  }
}
