
// PDF Typo
.pxedit .pdf {
  line-height: 1;
  font-size: $doc-p-size;
  color: $editor-color;

  *.to-long {
    opacity: 0.5;
    text-decoration: line-through;

    &:empty {
      min-height: 10px;
      background: #DD1144;
    }
  }

  h1 {
    margin: 0;
    font-size: $doc-h1-size;
    margin-bottom: $doc-hx-margin;
    font-weight: bold;

    &.page-title {
      margin-bottom: $doc-hx-margin + $doc-hx-margin / 2;
    }

    strong,
    span {
      font-weight: bold !important;
    }
  }

  h2 {
    margin: 0;
    font-size: $doc-h2-size;
    margin-bottom: $doc-hx-margin;
    font-weight: normal !important;

    strong,
    span {
      font-weight: normal !important;
    }
  }

  p,
  ul,
  ol {
    margin: 0;
    font-size: $doc-p-size;
    margin-bottom: $doc-p-margin;
    line-height: 13px;
  }

  ul,
  ol {
    margin-left: 0;
    padding-left: 15px;

    li {
      font-size: $doc-p-size;
      margin-bottom: $doc-p-margin / 2;
      line-height: 1.1;
      margin-left: 0;
      padding-left: 3px;
    }
  }

  .trumbowyg-editor {
    word-wrap: break-word;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
