
// PDF Typo
.pxedit .pdf {
  line-height: 1;
  font-size: $doc-p-size;
  color: $editor-color;

  *.to-long {
    opacity: 0.5;
    text-decoration: line-through;

    &:empty {
      min-height: 10px;
      background: #DD1144;
    }
  }

  h1 {
    margin: 0;
    font-size: $doc-h1-size;
    margin-bottom: $doc-hx-margin;
    font-weight: bold;

    &.page-title {
      margin-bottom: $doc-hx-margin + $doc-hx-margin / 2;
    }
  }

  h2 {
    margin: 0;
    font-size: $doc-h2-size;
    margin-bottom: $doc-hx-margin;
    font-weight: normal;
  }

  p,
  ul,
  ol {
    margin: 0;
    font-size: $doc-p-size;
    margin-bottom: $doc-p-margin;
    line-height: 16px;
  }

  ul,
  ol {
    margin-left: 0;
    padding-left: 15px;

    li {
      font-size: $doc-p-size;
      margin-bottom: 0;
      line-height: 16px;
      margin-left: 0;
      padding-left: 3px;
      margin-bottom: -2px;
    }
  }

  .trumbowyg-editor {
    word-wrap: break-word;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.pxedit .widget-is-overflown {
  > div {
    &:before {
      position: absolute;
      border-bottom: 1px rgba(240, 128, 128, 0.3) dashed;
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 100;
      content: '';
    }
  }
}

