
.pxedit #footnote {
  top: -18px;
  background: #fff;
  height: 20px;
  position: relative;
  font-size: ($doc-p-size - 2px);
  color: #888;
  margin: 0 ($doc-80);
  text-align: right;
  z-index: 100;

  > div {
    line-height: 1.5;
    text-align: right;
    outline: none;
    white-space: nowrap;
    
    &:focus {
      outline: 1px dotted #add8e6;
      outline-offset: 2px;

      &:before {
        display: none !important;
      }
    }
    
    &.is-empty{
      min-height: 16px;
      text-align: right;
      direction: rtl;

      &:before {
        content: 'Fu\00dfzeile (optional)';
        direction: ltr;
        display: block;
        color: silver;
        font-style: italic;
        width: 100px;
        top: 0;
        position: absolute;
        text-align: right;
        z-index: -1;
      }
    }

    //&:empty:before{
    //  content: 'Fu\00dfzeile (optional)';
    //  display: block;
    //  color: silver;
    //  font-style: italic;
    //}
  }
}
