
.pxedit #footnote {
  top: -18px;
  position: relative;
  font-size: ($doc-p-size - 2px);
  color: #888;
  margin: 0 ($doc-80);
  text-align: right;
  z-index: 100;

  > div {
    line-height: 1.5;
    outline: none;
    text-align: right;

    &.is-empty{
      width: 100px;
      float: right;
      min-height: 10px;

      &:before{
        content: 'Fu\00dfzeile (optional)';
        display: block;
        color: silver;
        font-style: italic;
        width: 100px;
        position: absolute;
        text-align: right;
        z-index: -1;
      }
    }

    //&:empty:before{
    //  content: 'Fu\00dfzeile (optional)';
    //  display: block;
    //  color: silver;
    //  font-style: italic;
    //}
  }
}
