
// scss-lint:disable ColorVariable, SelectorDepth, NestingDepth, PropertySortOrder
// Styles for the table-plugin
.pxedit table.table {
  margin: 0;

  &.table-options {
    .glyphicon {
      display: inline-block;
    }
  }

  tr td {
    font-size: ($doc-p-size - 1px);
    line-height: 13px;
    padding: 5px 4px;
    word-break: break-word;
    vertical-align: top;
    border: 0;
    position: relative;
    white-space: normal;
    min-height: 20px;
    height: 24.8px;

    p {
      margin: 0;
      font-size: ($doc-p-size - 1px);
    }

    .trumbowyg-editor,
    .trumbowyg-box {
      min-height: 15px !important;
    }

    .editable {
      min-height: 14px;
    }
  }

  &.table-2 {
    td {
      width: 50%;
    }
  }

  &.table-3 {
    td {
      width: 33.3333334%;
    }
  }

  &.table-4 {
    td {
      width: 25%;
    }
  }

  &[data-preset='table-normal'],
  &[data-preset='table-advanced'] {
    tr:first-child {
      td {
        font-weight: bold;
        vertical-align: bottom;
      }
    }
  }

  &[data-preset='table-advanced'] {
    tr {
      td:first-child {
        font-weight: bold;
      }
    }
  }

  tr:nth-child(even) {
    td {
      background: #eee;
    }
  }
}

// Widget
.widget-table {
  position: relative;
  
  &:hover {
    .glyphicon-cog {
      color: #333;
    }
  }

  &.widget-table-fixed {
    div.text {
      display: none !important;
    }

    &.widget-options {
      .glyphicon-cog {
        top: -22px;
        background: #fff;
      }  
    }
  }

  &.widget-overflow {
    .PXEdit-table-row-add {
      display: none !important;
    }
  }

  .editable-container {
    min-height: 0 !important;
  }

  .glyphicon {
    display: none;
    position: absolute;
    right: 1px;
    width: 20px;
    z-index: 20;
    font-size: 10px;
    border: 1px #ccc solid;
    color: #ccc;
    padding: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
    top: 2px;

    &:empty {
      width: 20px;
    }

    &::before {
      position: relative;
      left: -1px;
    }

    &:hover {
      color: #333;
      border-color: #333;
    }
  }

  .option,
  .option2 {
    display: none;
    position: absolute;
  }

  .option-table {
    width: 1px;
    transition: width .2s ease-in;
    overflow: hidden;
    display: block;
    z-index: 200;
    position: absolute;
    right: 22px;
    height: 22px;
    top: -22px;
    margin: 0;


    li {
      display: inline-block;
      border: 1px Silver solid;
      padding: 2px 4px !important;
      font-size: 9px !important;
      color: Silver;
      background: White;
      transition: color .2s ease-in;
      cursor: pointer;
      line-height: 15.5px !important;
      border-right: 0;
      height: 21px;

      &:hover,
      &.active {
        color: #000;
      }
    }
  }

  .glyphicon-cog {
    right: 1px;
    display: inline-block;
    left: auto;
    top: 0;
    color: #eee;
    border-color: transparent;
    z-index: 2;

    &::before {
      position: relative;
      top: .5px;
   }
  }

  &.widget-options {
    .editor-empty {
      display: block !important;
      height: 25px !important;
    }

    .glyphicon {
      display: inline-block;
    }

    .option-table {
      visibility: visible;
      width: 170px;
      right: 20px;
      z-index: 1;
      text-align: right;
    }

    .option2 {
      display: block;
      z-index: 200;
      right: 0;

      .glyphicon {
        top: 0;
      }
    }

    .option {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;

      .glyphicon-minus {
        display: inline-block;
        position: relative;
        top: 0;
        z-index: 2;
      }
    }

    .glyphicon-cog {
      color: Silver;
      border-color: Silver;
      top: 0;
      right: 1px;
    }

    table {
      border-bottom: 1px #eee solid;

      + .glyphicon-plus {
        top: auto;
        background: #fff;
      }
    }

    .PXEdit-table-col.glyphicon-minus {
      right: auto;
      left: 0;
      top: -20px;
      background: #fff;
    }
  }

  &:not(.widget-options) {
    div.text.editable-empty {
      display: none !important;
    }
  }

  div.text {
    min-height: 20px;
    margin-bottom: $doc-hx-margin;
    max-height: 50px;
  
    .trumbowyg-editor {
      max-height: 50px;
      overflow: hidden;
    }

    &.editor-empty {
      display: none;
    }



    &.editable-open {
      display: block !important;
      visibility: hidden;
    }
  }

  .table-edit {
    display: block;
    min-height: 15px;
    cursor: text;

    &.editable-open {
      display: block !important;
      visibility: hidden;
    }
  }

  .editable-buttons {
    display: none;
  }

  .editableform .control-group {
    position: absolute;
    z-index: 2;
    top: 0;
  }

  .editable-inline {
    textarea {
      margin-top: 2.5px;
      padding: 2.5px !important;
      font-size: ($doc-p-size - 1px);
      line-height: 1.2;
      min-height: 20px;
      height: 24px;
      box-shadow: none;
      resize: none;
      position: absolute;
      border: 1px Silver dotted;
      width: 100%;
      max-width: 96%;
      background: rgba(255, 255, 255, .5);
    }

    input {
      border: 0;
      padding: 0;
      box-shadow: none;
      font-size: $doc-h2-size;
      margin-bottom: $doc-hx-margin;
      margin-top: -5px;
      width: 100%;
    }
  }
}
