
.pxedit .widget[data-widget='image'] {
  position: relative;
}

// Editor-widget
.pxedit .editor-widget-image {
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 3 -1px rgba(0, 0, 0, .75);

  &[data-fid="0"] {
    background: url('placeholder.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .progress {
    position: absolute;
    top: 0;
    height: 5px;
    border-radius: 0;
    width: 100%;
    display: none;
  }

  &.in-progress {
    .progress {
      display: block;
    }
  }

  .btn {
    position: absolute;
    bottom: -40px;
    left: 0;
    opacity: 0;
    z-index: 100;
    transition: bottom .4s ease;
  }

  &:hover {
    .btn {
      opacity: 1;
      bottom: 0 !important;
    }
  }

  &.has-image {
    .fileinput-button {
      right: 0;
      background: #fff;
      border: 0;
      bottom: -50px;
      opacity: .8;
      white-space: normal;
      transition: .2;
      
      &:hover {
        opacity: 1;
      }
     
      .image-new {
        display: none;
      }

      .image-uploaded {
        display: block;
        font-size: small;
        line-height: 15px;
        text-align: left;
      }
    }
  }

  .fileinput-button {
    overflow: hidden;
    cursor: pointer;

    .image-uploaded {
      display: none;
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      font-size: 200px !important;
      direction: ltr;
      cursor: pointer;
    }
  }
}

.pxedit .editor-croppie {
  position: absolute;
  left: 0;
  top: 0;
}

.pxedit .widget-edit-disabled {
  .editor-croppie {
    pointer-events: none;
  }
  
  .editor-widget-image {
    cursor: default;
  }
}
