// page-title
.pxedit h1.page-title {
  margin-right: $doc-content-spacing;
  height: 30px;
  position: relative;

  div {
    outline: none;

    &:focus {
      outline: 1px dotted #add8e6;
      outline-offset: -1px;
    }
  }
}

.row-editor[data-layout="layout-full"] {
  h1.page-title {
    margin-right: 0 !important;
  }
}

.pxedit-maxlength {
  white-space: nowrap;
  margin-right: 2.5%;
}

.pxedit #footnote .pxedit-maxlength {
  margin-left: 2.5%;
  margin-right: 0;
}
