.small-format-presentation .layout-template {
    width: 120px;
    height: 100px;
    float: left;
    margin-right: 10px;
    border: 1px Silver solid;
    cursor: pointer;
    margin-bottom: 10px;
    
    .widget {
        margin: 5px;
        margin-right: 0;
        background: #EEE; 
        height: 90px;
        float: left;
        transition: 0.2s background ease;
        width: 110px;
        
        &.selected {
            background: #428bca;
        }
        
        &.changed {
            background: lightsalmon;
        }
        
    }    
    
    &.layout-50-50 {
        .widget {
           width: 52px;
        }
    }
    
    .float-2 {
      width: 52px;
      float: left;
      
      .float-100[data-height="50"] {
            height: 42px;
            width: 52px;
            margin-bottom: 0;
      }
    }
    
    &.layout-50-50-double, &.layout-50-50-left {
        .float-2:not(.widget) {
            margin-right: 5px;
        }    
    }
    
    &.layout-preistable_one {
      .widget {
        height: 42px;
        margin-bottom: 0;
      }
    }
    
    &.layout-preistable_two,
    &.layout-preistable_three {
      .widget-flexibile {
        height: 42px;
        margin-bottom: 0;
      }
      
      .float-3 {
        margin-right: 5px;
        width: 33.5px;
        float: left;
        
        .widget {
           width: 32.5px;
           float: none;
           height: 42px; 
           margin-bottom: 0;
        }
      }
      
      
      .float-2 {
        margin-right: 5px;
        
        .widget {
          width: 52px;
        }
      }
      
    }  
    
    &.layout-tripple {
        position: relative;
            
        .float-3 {
           width: 37.5px;
           float: left;
        }
        
        .widget {
           width: 32.5px;
           float: none;
           height: 42px; 
           margin-bottom: 0;
        }
    }  
}
